body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
}

.logo {
  height: 80px;
}

.header {
  background-color: #fff;
  padding: 20px;
  color: black;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.trade-name {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.largest, .info, .date-picker {
  padding: 10px;
  display: flex;
}


.largest .item {
  width: calc(100% * (1/5) - 1% - 1px);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: inline-block;
  margin: 1%;
  padding: 1%;
}

.item .date {
  margin-top: 0;
  text-align: center;
  font-size: 12px;
}

.tid {
  margin-bottom: 0;
}

.data-item {
  width: calc(100% * (1/3) - 1% - 1px);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: inline-block;
  margin: 1%;
  padding: 10px;
  text-align: center;
}

.largest .item .tid, 
.section-title, 
.data-item .title {
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.error {
  font-weight: bold;
  text-align: center;
}

.date-picker .item {
  width: 40%;
  text-align: center;
  display: inline-block;
}

.date-picker .item h2{
  margin-bottom: 0;
}

.date-picker .search {
  width: 20%;
  margin-top: 65px;
  text-align: center;
  display: inline-block;
}

